
.navBar {
	background-color:#333;
	height:100px;
	color:whitesmoke;
	margin-bottom:15px;
	text-align:center;
	font-size:30px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.test{
	
   font-family: "Arial Black", sans-serif;
   font-size: 4.5em;
   letter-spacing: -1px;
   padding:5px;

   background-color: black;
   color: white;
	
}

.3js1 {
	
	 padding:5px;

	   border-color: coral;
   border-width:10px;
   border-style:solid;
   
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

MyClass{
	
	width:400px;
}